@use '../variaveis.scss';

.button{
    
    background-color: variaveis.$cor_btn;
    text-decoration: none;
    border-radius: 5px;
    padding: 14px;
    font-size: 20px;
    font-weight: bold;

    &:hover{
        background-color: variaveis.$cor_btn_hover;
        text-decoration: underline;
    }

    @media(max-width: 640px){
        display: block;
        width: 100%;
        font-size: 18px;
    }

    @media(max-width:1024px){
        white-space: nowrap;
        font-size: 20px;
        margin: auto;
        margin-left: 14px;
        
    }
}