@use '../variaveis.scss';

.infos__bar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    background-color: variaveis.$cor_principal;
    padding: 14px 28px;
    text-align: center;

    @media(max-width:640px){
        display: block;
        width: 90%;
        left: 5%;
    }

    @media(max-width:1024px){
        top:55%;
        width: 90%;
        left: 5%;
        
    }
    
    &__info{
        display: flex;
        gap: 40px;

        @media(max-width:640px){
            display: block;
            margin-bottom: 8px;
        }

        @media(max-width:1024px){
            gap:20px;
        }
        
        &__item{
            font-size: 20px;
            line-height: 28px;
            color: variaveis.$cor_secundaria;

            @media(max-width:640px){
                font-size: 16px;
                line-height: 24px;
            }

            @media(max-width:1024px){
                font-size: 18px;
                line-height: 26px;
            }
            b{
                font-size: 24px;
                display: block;
                color: variaveis.$cor_secundaria;

                @media(max-width:640px){
                    font-size: 18px;
                }
                @media(max-width:1024px){
                    font-size: 20px;
                }
            }
        }
}
}